/* TODO: ADD FORMATING FOR SMALLER SCREENS */
/* TODO: CHANGE ALL UNIT FROM PX TO REM */

/* VARIABLES */
#root {
  --color-red: #EE0909;
  --color-white: #ffffff;
  --color-yellow: #E87E00;
  --color-dark-purple: #28181B;
  --color-light-purple: #BA9A93;
  --bgcolor:var(--color-light-purple);
  --color-light-yellow: #D19E60;
  --color-black: #111211;
  --color-gray: #D9D9D9;
  --nav-font: 'Galindo';
  --title-font: 'Kanit';
  --name-font: 'Happy Monkey';
  --normal-text-font: 'Cabin';
  --top-margin: 2rem;
  --right-margin: 5rem;
  --left-margin: 1rem;
  --bottom-margin: 2rem;

  background-color: var(--bgcolor);
  color: black;
}

/* ----------------------------------------------------------------------------------------------------- */


/* NAVIGATION BAR */

.nav_bar {
  overflow: hidden;
  width: 95%;
  height: 4rem;
  margin-left: var(--left-margin);
  margin-right: var(--right-margin);
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.nav_link {
  float: left;
  background-color: var(--color-dark-purple);
  color: white;
  font-family: var(--normal-text-font);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 18%;
  border: .2rem solid var(--color-yellow);
  /* border-radius: .8rem; */
}

.nav_link:hover {
  background-color: var(--color-yellow);
  color: black;
  font-size: 1.5rem;
}

.nav_link:active{
  background-color: var(--color-yellow);
  color: black;
}

/* ----------------------------------------------------------------------------------------------------- */
/* ALL PAGE */


#page-body{
  height: 87vh;
}

.framed-page{
  margin: var(--top-margin) var(--right-margin) var(--bottom-margin) var(--left-margin);
  height: 100%;
} 


.left-border-decor{
  background-color: var(--color-dark-purple);
  margin-right: 2rem;
}

.submit-button{
  font-family: var(--title-font);
  font-size: 1.5rem;
  color: var(--color-yellow);
  letter-spacing: .02rem;
  align-self: center; 
  background-color: var(--color-dark-purple);
  cursor: pointer;
  border: .2rem solid currentColor;
  border-radius: .8rem;
  padding: .4rem 1rem;
  position: relative;
  transition: color .3s;
  z-index: 1;
}

.submit-button::before, .submit-button::after {
    content: '';
    position: absolute;
    background-color: var(--color-dark-purple);
    z-index: -1;
    transition: all .3s;
  }
.submit-button::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.submit-button::after {
  height: calc(100% - 2rem);
  width: calc(101% + 1rem);
  left: -.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.submit-button:hover {
  color: white;
}
.submit-button:hover::before { width: 0; }
.submit-button:hover::after { height: 0; }
.submit-button:active { transform: translateY(.2rem); }



/* ----------------------------------------------------------------------------------------------------- */

/* HOME PAGE */

.home-left-screen{
  gap: 29vh;
}
.name-tag{
  display: flex;
  gap: 33px;
  height: 80px;
}

#author-name{
  font-size: 25px;
  font-family: var(--name-font);
  font-weight: 400;
  align-self: center;
}

.title-tag{
  display: flex;
  flex-direction: column;
  font-family: var(--title-font);
  color: var(--color-white);
  text-align: left;
}

.career-path, .doc-title{
  font-size: 50px;
  font-weight: 300;
}

.career-path{
  width: 30rem;
  /* background-color: var(--color-yellow); */
  background-color: #AF5845;
  padding: 2rem 2rem;
}

.doc-title{
  font-size: 90px;
  font-weight: 400;
  transform-origin: left;
  color: var(--color-dark-purple);
}
@media only screen and (min-width: 769px){
  .doc-title{
    font-weight: 700;
    transform: scale(1.5, 1);
  }
}

.home-right-screen{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  gap: 10vh;
}

.home-photo-container{
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.photo-home{
  background-color: var(--color-gray);
}
/* ----------------------------------------------------------------------------------------------------- */

/* ABOUT ME PAGE */

.aboutMe-center-container{
  gap: 20vh;
}

.aboutMe-left-screen{
  display: flex;
  flex-direction: column;
  gap: 7vh;
  font-family: var(--normal-text-font);

}
.aboutMe-title{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutMe-title-container{
  display: flex;
  align-items: center;
}

.aboutMe-title{
  flex:40%;
  font-weight: 500;
  font-size: 40px;
}
.aboutMe-author{
  font-weight: 700;
  font-size: 65px;
  transform-origin: left;
  letter-spacing: 6px;
}

.normal_text{
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.7px;
}

#aboutMe-text{
  text-align: center;
}

#photo_2{
  align-self: center;
  width: 100%;
  height: 80%;
}

.aboutMe-contact-container{
  display: flex;
  width: 100%;
  gap: 6rem;
  justify-content: center;
}
.aboutMe-tag-container{
  display: flex;
  gap: 2rem;
}

.aboutMe-contact-tags{
  font-size: .8rem !important;
  color: var(--color-yellow);
}


/* ----------------------------------------------------------------------------------------------------- */

/* SKILLS PAGE */
.work-left-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* gap: 5rem; */
}
.work-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-citation{
  flex:0.7;
  display: flex;
  flex-direction: column;
  font-family: var(--normal-text-font);
  font-size: 1.2rem;
  gap: 1.5rem;
}
.work-testimony-message{
  text-align: center;
}
.quote-icons{
  font-size: 1.5rem;
}
#quote-left{
  padding-right: 1rem;
}
#quote-right{
  padding-left: 1rem;
}


.work-testimony-author{
  text-align: right;
}
.work-right-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

.work-skills_icons{
  display: flex;
  gap: 4rem;
}

.work-button{
  border: 10px dashed var(--color-yellow);
  border-radius: 10rem;
  padding: 4px 8px;
  margin: 10px 2px;
  opacity: 0.7;
  width: 9rem;
  aspect-ratio: 1/1;
  font-family: var(--nav-font);
  color: white;
  font-size: 1rem;
  text-align: center;
  background-color: var(--color-dark-purple);
}
.work-button:hover {
  border: 10px solid var(--color-yellow);
  opacity: 1;
}
.work-button:active { 
  opacity: 1;
  transform: translateY(.2rem);
 }

.work-barplot{
  align-self: center;
  /* padding: 1rem 5rem; */
}

.work-barItem{
  font-family: var(--normal-text-font);
  font-size: 2rem;
}

/* ----------------------------------------------------------------------------------------------------- */

/* EXPERIENCE PAGE */


.experienc-main-container{
  --exp-card-color : #C4B6A5;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.experience-column{

  width: 515px;
  height: 350px;
  background-color: var(--color-dark-purple);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  display: flex;
  transition: all .3s;
  border: 2px solid var(--color-yellow);
}

.experience-image-text{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  position: absolute;
  align-self: center;
  z-index:1;
  width: 90%;
  height: 100%;
  display: flex;
  gap: .2rem;
  justify-content: center;
  align-items: center;
  font-family: var(--normal-text-font);
  font-size: 1.2rem;
  opacity: 0;
  color: white;
}

.experience-skill-container{
  padding-top: .8rem;
  padding-bottom: .8rem;
  display: flex;
  gap: .2rem;
}

.experience-position{
  padding-bottom: .8rem;
}
#experience-horLine{
  background-color: white;
}
.experience-company, .experience-position{
  font-size: 1.3rem;
  font-weight: 700;
}
.experience-date{
  font-size: 1.3rem;
  padding-bottom: .5rem;
}
.experience-desc{
  padding-bottom: .9rem;
  text-align: center;
}
.experience-button{
  color: black;
  font-weight: 700;
  text-decoration: none;
  border: .2rem solid black;
  border-radius: .8rem;
  padding: .5rem 4rem;
  background-color: var(--color-yellow);
}
.experience-button:hover{
  border-color: white;
  color: white;
}


.experience-code-tag{
  color: black;
  font-family: var(--nav-font);
  font-weight: 200;
  font-size: 1.2rem;
  background-color: var(--color-light-purple);
  padding: .4rem .7rem;
  border-radius: .5rem;
}
.experience-app-type{
  color: var(--color-red)
}

.experience-column:hover{
  /* border: .2rem solid black; */
  border-color: var(--color-yellow);
  border-radius: 1rem;
}


.experience-column:hover .experience-image{
  transition: all .3s;
  opacity: .1;
}
.experience-column:hover .experience-image-text{
  transition: all .3s;
  opacity: 1;
}


/* ----------------------------------------------------------------------------------------------------- */

/* GET IN TOUCH PAGE */

.getInTouch-center-container{
  gap: 6rem;
}
.getInTouch-column{
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
  font-family: var(--normal-text-font);
  padding-bottom: 2rem;
}

.getInTouch-photo-container{
  width: 100%;
  height: 50%;
  padding-bottom: 7rem;
}
#photo_4{
  width: 100%;
  height: 100%;
  align-self: center;
}

.getInTouch-contact-info{
  font-family: var(--normal-text-font);
  padding-bottom: 1.5rem;
}
.getInTouch-tag{
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}
.getIntouch-tag-type{
  padding-left: .5rem;
  font-size: 1.5rem;
}

.getInTouch-call-icons{
 display: flex;
 gap: .6rem;
 align-items: center;
}
.decor-icons{
  color: var(--color-red);
}

.getInTouch-info{
  font-size: 1.2rem;
}

#column-right{
  justify-content: flex-end;
  width: 40rem;
}

.getInTouch-title-container{
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.getInTouch-title{
  flex:50%;
  font-weight: 700;
  font-size: 2.2rem;
}

.getInTouch-form{
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.getInTouch-error{
  color: var(--color-red);
  font-size: 1.2rem;
}

.getInTouch-input-field, .getInTouch-message-field{
  border-radius: .5rem;
  background-color: var(--color-light-yellow);
}

.getInTouch-input-field{
  font-size: 1.1rem;
  width: 20rem;
  padding: .2rem .5rem;
}

.getInTouch-input-field:focus, .getInTouch-message-field:focus{
  outline: none;
  border: .2rem solid var(--color-red);
}

.getInTouch-message-label{
  font-size: 1.5rem;
  padding-bottom: .8rem;
}
.getInTouch-message-field{
  font-size: 1rem;
  width: 100%;
  height: 20rem;
  padding: .5rem;
}
.getInTouch-message-container{
  padding-bottom: 2rem;
}
